@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.my-logo{
    font-size: 20px;
    font-weight: 600;
}

.my-logo i{
    font-size: 30px;
}

.nav-link:hover{
    font-weight: 600;
}

.navbar-toggler{
    border: none;
}

#slider{
    margin-top: 70px;
}

.carousel-item img{
    transform: translateX(-50px) rotateZ(-50deg);
    object-fit: cover;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
}

.title img{
   width: 60%;
}

.title h1 {
    margin-bottom: 1rem;
    font-size: 4rem; 
    font-weight: 800;
  }
  
.title p {
    margin-bottom: 1.5rem; 
}
